{{template "base" .}}
{{define "title"}} Home {{end}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home</h1>
            <p>Home page</p>
        </div>
    </div>
</div>
{{end}}
